//.welcome-card ion-img {
//  max-height: 60vh;
 // overflow: hidden;
//}
.happybutton {
  position: absolute;
  width: 105%;
  height: 100%;
  
}
//.back {
 // background-image: 'assets/icon/Leaf - happy.png';
 // background-repeat: no repeat;
 //  background-size:cover;
 // position: absolute;
//}